
@model WebApplication4.Models.Employee

<h2>Index</h2>
<p>I am working on Model</p>
<a href="/Home/Address">Address</a>
<a href="/Home/Name">Name</a>
<br/>
<br />
<br />
<br />
<table>
    <tr>
        <td>
            Id
        </td>
        <td>
            @Model.Id
        </td>
    </tr>

    <tr>
        <td>
            Name
        </td>
        <td>
            @Model.Name
        </td>
    </tr>

    <tr>
        <td>
            Address
        </td>
        <td>
            @Model.Address
        </td>
    </tr>
</table>
