<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>I am from Student Controller</h1>
        <br/>
        @Html.ActionLink("Go To Index Page of Home Controller", "Index", "Home")
        <br />
        @Html.ActionLink("Go To About Page of Home Controller", "About", "Home")
    </div>
</body>
</html>
