@using TemplatedHtmlHelper.Models;
@model Employee

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @Html.DisplayName("Name") - @Html.Editor("Name ")
        <br />
        @Html.DisplayNameFor(x => x.DateOfBirth)
        <br />
        @Html.DisplayText("Name")
    </div>
</body>
</html>
